<mat-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-content>
    @if (selected()) {
      <div class="selected-date-info">
        <h3>{{getFormattedDate()}}</h3>
        
        @if (getSelectedDaySessions().length > 0) {
          @for (session of getSelectedDaySessions(); track session) {
            <div class="session-item" [class.completed]="session.status === 'completed'">
              <div class="session-info">
                <div class="time">
                  <mat-icon>schedule</mat-icon>
                  <span>{{session.time}}</span>
                </div>
                <div class="status">
                  <mat-icon>{{getStatusIcon(session.status)}}</mat-icon>
                  <span>{{session.status}}</span>
                </div>
              </div>
            </div>
          }
        } @else {
          <mat-form-field>
            <mat-label>Select time</mat-label>
            <mat-select [(ngModel)]="selectedTime">
              <mat-option>None</mat-option>
              @for (slot of freeSlots; track slot) {
                <mat-option [value]="slot">{{slot}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- <button mat-raised-button color="primary" 
            [disabled]="!selectedTime"
            (click)="bookSlot()">
            Book Slot
          </button> -->

          <button mat-fab extended [disabled]="!selectedTime"
          (click)="bookSlot()">
            <mat-icon>done_all</mat-icon>
            Book Slot
          </button>
        }
      </div>
    }
  </mat-card-content>
</mat-card>