<form [formGroup]="formGroup">

  <div class="form-field-container">

    @if (client.aboniment) {
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Provide note</mat-label>
          <textarea matInput formControlName="note"
                    [readonly]="!isClientDataEdit">
          </textarea>
          <mat-icon matSuffix>{{isClientDataEdit ? 'edit' : 'sentiment_very_satisfied'}}</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nickname</mat-label>
          <input matInput placeholder="Provide nickname"
            formControlName="nickname"
            [readonly]="!isClientDataEdit">
          <mat-icon matSuffix>{{isClientDataEdit ? 'edit' : 'sentiment_very_satisfied'}}</mat-icon>
        </mat-form-field>
      </p>
  
      <div>
        <span>{{(formGroup.get('startDate').value | date:'dd.MM.yyyy') || 'Date not specified'}} - {{formGroup.get('endDate').value | date:'dd.MM.yyyy'}}</span>
      </div>

      <!-- <div>
        <span>totalTrainings {{formGroup.get('totalTrainings').value}} remainingTrainings {{formGroup.get('remainingTrainings').value}}</span>
      </div> -->
  
      <p>
        <mat-form-field appearance="outline" [style.width.px]=150>
          <mat-label>Total trainings</mat-label>
          <input matInput placeholder="Provide last name"
            formControlName="totalTrainings"
            [readonly]="!isClientDataEdit">
          <mat-icon matSuffix>{{isClientDataEdit ? 'edit' : 'sentiment_very_satisfied'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" [style.width.px]=150>
          <mat-label>Remaining trainings</mat-label>
          <input matInput placeholder="Provide last name"
            formControlName="remainingTrainings"
            [readonly]="!isClientDataEdit">
          <mat-icon matSuffix>{{isClientDataEdit ? 'edit' : 'sentiment_very_satisfied'}}</mat-icon>
        </mat-form-field>
      </p>

      <div class="button-container">
        <button mat-fab extended (click)="editClientData()">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
  
        <button mat-fab extended (click)="saveClientData()"
          [disabled]="!isClientDataEdit">
          <mat-icon>done_all</mat-icon>
          Save
        </button>
    </div>
    } @else {

      <span>Aboniment</span>

      <div>
          <mat-form-field appearance="outline">
            <mat-label>Select aboniment</mat-label>
            <mat-select (selectionChange)="selectAboniment($event)">
              @for (aboniment of aboniments; track aboniment) {
                <mat-option 
                [value]="aboniment.value">{{aboniment.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
      </div>

    }

  </div>  

</form>