<mat-toolbar>
  <div class="toolbar">
    @if(userRole$ | async; as userRole) {
      
      @if(userRole === UserRole.TRAINER) {
        <button mat-icon-button class="example-icon" aria-label="Clients page"
          [routerLink]="['/coach']">
            <mat-icon>people</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Home page"
          [routerLink]="['']">
            <mat-icon>home</mat-icon>
          </button>
    
          <button mat-icon-button class="example-icon" aria-label="Schedule page"
          [routerLink]="['/coach/schedule']">
            <mat-icon>calendar_today</mat-icon>
          </button>
      } @else if(userRole === UserRole.CLIENT) {
        <button mat-icon-button class="example-icon" aria-label="Client profile page"
        [routerLink]="['/client', tgId]">
          <mat-icon>person</mat-icon>
        </button> 

        <button mat-icon-button class="example-icon" aria-label="Home page"
        [routerLink]="['']">
          <mat-icon>home</mat-icon>
        </button>   

        <button mat-icon-button class="example-icon" aria-label="Schedule page"
        [routerLink]="['/client', tgId, 'schedule']">
          <mat-icon>calendar_today</mat-icon>
        </button>
      } @else {
        <button mat-icon-button class="example-icon" aria-label="Home page"
        [routerLink]="['']">
          <mat-icon>home</mat-icon>
        </button>  
      }

    }
  </div>
</mat-toolbar>