.toolbar {
    display: flex;
    justify-content: space-around;
    flex: 1 auto;
}

// .debug-panel {
//     background-color: #f8f9fa;
//     border: 1px solid #ddd;
//     color: black;
//     padding: 10px;
//     margin-bottom: 10px;
//     border-radius: 4px;
// }

.test {
    color: red;
}