<div class="schedule-container">
  
  <div class="settings-layout">

    <div class="calendar-section">
      <mat-card class="calendar-card">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
    </div>

    <div class="right-panel">
      <!-- Work Schedule Component -->
      <app-work-schedule [currentTrainer]="currentTrainer"></app-work-schedule>

      <!-- Training information -->
      @if (selected()) {
        <mat-card class="day-schedule">
          <mat-card-header>
            <mat-card-title>{{formatDate(selected())}}</mat-card-title>
          </mat-card-header>
          
          @if (getDaySchedule().length > 0) {
            @for (session of getDaySchedule(); track session) {
              <div class="session-client-info">
                <div class="time">{{session.startTime}}</div>
                <div class="client-name">
                  {{session.client.first_name}}
                  <span class="status" [style.color]="getStatusColor(session.status)">
                    {{session.status}}
                  </span>
                </div>

                <div class="actions">
                  @if (session.status === BookingStatus.PENDING) {
                    <button mat-fab extended color="primary"
                            (click)="approveBooking(session)"
                            matTooltip="Approve training">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  }

                  @if (session.status === BookingStatus.APPROVED) {
                    <button mat-fab extended color="accent"
                            (click)="markSessionCompleted(session)"
                            matTooltip="Mark as completed">
                      <mat-icon>done_all</mat-icon>
                    </button>
                    
                    <button mat-icon-button color="warn"
                            (click)="markSessionMissed(session)"
                            matTooltip="Mark as missed">
                      <mat-icon>person_off</mat-icon>
                    </button>
                  }

                  <button mat-fab extended color="warn" 
                          (click)="cancelBooking(session)"
                          matTooltip="Cancel training">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              </div>
            }
          } @else {
            <mat-card-content>
              <p class="no-sessions">No training sessions scheduled for this day</p>
            </mat-card-content>
          }
        </mat-card>
      }
    </div>
  </div>
</div>