<mat-card appearance="outlined">
    <mat-card-content>
        <!-- Добавляем проверку на существование groupTraining -->
        @if (currentCLient?.groupTraining) {
            <div class="grid-training-info mb-1">
                <span>Start date</span>
                <span>End date</span>
                <span class="grid-training-info__label">{{currentCLient.groupTraining.startDate | date:'dd.MM.yyyy'}}</span>
                <span class="grid-training-info__label">{{currentCLient.groupTraining.endDate | date:'dd.MM.yyyy'}}</span>
            </div>

            <div class="grid-training-info mb-1">
                <span>Total trainings</span>
                <span>Remaining trainings</span>
                <span class="grid-training-info__label">{{currentCLient.groupTraining.totalTrainings}}</span>
                <span class="grid-training-info__label">{{currentCLient.groupTraining.remainingTrainings}}</span>
            </div>

            <div class="button-container">          
                <button mat-fab extended 
                [disabled]="isTrainingDay || isChecked"
                (click)="markTrainingAsCompleted()">
                    <mat-icon>done_all</mat-icon>
                    Check-in for Training
                </button>
            </div>
        }

        <!-- <form [formGroup]="formGroup">
            <p>
                <mat-form-field appearance="outline" [style.width.px]=150>
                  <mat-label>Total trainings</mat-label>
                  <input matInput placeholder="Provide last name"
                    formControlName="totalTrainings">
                </mat-form-field>
        
                <mat-form-field appearance="outline" [style.width.px]=150>
                  <mat-label>Remaining trainings</mat-label>
                  <input matInput placeholder="Provide last name"
                    formControlName="remainingTrainings">
                </mat-form-field>
              </p>

              <button mat-fab extended (click)="saveClientData()">
              <mat-icon>done_all</mat-icon>
              Save
            </button>
        </form> -->

    </mat-card-content>
</mat-card>