@if (clients$ | async; as clients) {
    <app-client-filter 
        [clients]="clients"
        (filteredClients)="onFilteredClientsChange($event)"/>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Group">
            <div class="mb-05"></div>
            <app-group-clients [clients]="paginatedClients"/>
        </mat-tab>
        <mat-tab label="Individual">
            <div class="mb-1"></div>
            <app-individual-clients/>
        </mat-tab>
    </mat-tab-group>

    <mat-paginator
        [length]="pageConfig.filteredLength"
        [pageSize]="pageConfig.pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)">
    </mat-paginator>
}