.filter-paginator {
    display: flex;
    flex-direction: column;

    &__flex {
        flex: 1 auto;
    }

    &__settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__flex {
        display: flex;
        flex-direction: column;
    }
}
