@use '@angular/material' as mat;

:root {
  @include mat.tabs-overrides((
    inactive-label-text-color: var(--tg-theme-text-color),
    active-label-text-color: #2196F3,
    active-indicator-color: #2196F3,
    inactive-hover-label-text-color: #90CAF9,
    active-hover-label-text-color: #1976D2,
    inactive-focus-label-text-color: #90CAF9,
    active-focus-label-text-color: #1976D2,
    active-hover-indicator-color: #1976D2,
    active-focus-indicator-color: #1976D2
  ));
  @include mat.expansion-overrides((
    container-background-color: var(--tg-theme-bg-color),
    container-text-color: var(--tg-theme-text-color),
    header-text-color: var(--tg-theme-text-color),
    actions-divider-color: var(--tg-theme-text-color),
    header-indicator-color: var(--tg-theme-text-color),
  ));
  @include mat.card-overrides((
    subtitle-text-color: orange,
    elevated-container-color: var(--tg-theme-secondary-bg-color),
    outlined-container-color: var(--tg-theme-bg-color),
    outlined-outline-color: var(--tg-theme-text-color),
  ));
  @include mat.form-field-overrides((
    outlined-caret-color: var(--tg-theme-text-color),
    outlined-focus-outline-color: var(--tg-theme-text-color),
    outlined-focus-label-text-color: var(--tg-theme-text-color),
    outlined-label-text-color: var(--tg-theme-text-color),
    outlined-input-text-color: var(--tg-theme-text-color),
    outlined-input-text-placeholder-color: var(--tg-theme-text-color),
    outlined-hover-outline-color: var(--tg-theme-text-color),
    outlined-hover-label-text-color: var(--tg-theme-text-color),
    outlined-error-hover-label-text-color: red,
    outlined-outline-width: 1px
  ));
  @include mat.paginator-overrides((
    container-text-color: var(--tg-theme-text-color),
    container-background-color: none,
    enabled-icon-color: var(--tg-theme-text-color),
    disabled-icon-color: var(--tg-theme-text-color),
  ));
  @include mat.select-overrides((
    panel-background-color: white,
    enabled-trigger-text-color: var(--tg-theme-text-color),
    enabled-arrow-color: var(--tg-theme-text-color),
    focused-arrow-color: var(--tg-theme-text-color),
    trigger-text-font:  var(--tg-theme-text-color),
  ));
  @include mat.fab-overrides((
    container-color: var(--tg-theme-button-color),
    foreground-color: var(--tg-theme-text-color),
    disabled-state-container-color: gray,
    disabled-state-foreground-color: white
  ));
  @include mat.icon-button-overrides((
    icon-color: var(--tg-theme-button-color),
  ));
  @include mat.toolbar-overrides((
    container-background-color: var(--tg-theme-secondary-bg-color),
  ));
  @include mat.icon-overrides((
    color: var(--tg-theme-text-color),
  ));
  @include mat.datepicker-overrides((
    calendar-container-shape: 'square',
    calendar-date-selected-state-text-color: var(--tg-theme-text-color),
    calendar-date-selected-state-background-color: var(--tg-theme-button-color),
    calendar-date-today-selected-state-outline-color: var(--tg-theme-button-color),
    calendar-date-focus-state-background-color: var(--tg-theme-button-color),
    calendar-date-hover-state-background-color: #90CAF9,
    // toggle-active-state-icon-color: green,
    calendar-body-label-text-color: var(--tg-theme-text-color), // +
    calendar-period-button-text-color: var(--tg-theme-text-color), // +
    calendar-period-button-icon-color: var(--tg-theme-text-color), // +
    calendar-header-text-color: var(--tg-theme-text-color), // +
    calendar-header-divider-color: var(--tg-theme-button-color),
    calendar-date-today-outline-color: var(--tg-theme-text-color),
    calendar-date-text-color: var(--tg-theme-text-color),
  ));
}


html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

a {
  color: --tg-theme-text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__main {
    position: relative;
    flex: 1 auto;
    padding: 10px 15px 0 15px;
  }

  &__footer {
    position: relative;
  }

  &__particles-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  display: none;
}

.mat-expansion-panel {
  border: 1px solid var(--tg-theme-text-color);
}

.mat-mdc-tab-body-content {
  background-color: var(--tg-theme-bg-color) !important;
}

.mat-mdc-tab-body-wrapper {
  background-color: var(--tg-theme-bg-color) !important;
}

//mat-pagination
.mat-mdc-paginator-container {
  justify-content: space-between !important;
  padding: 0 !important;
}
.mat-mdc-paginator-range-label {
  margin: 0 !important;
}


.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Reset */
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Remove text decoration from links */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Basic typography reset */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Form elements reset */
input, 
button, 
textarea, 
select {
  font: inherit;
}

/* Remove outline on focused elements */
:focus {
  outline: 0;
}

/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}